{{ define "email.custom" }}
<html>
<body style="font-family: Arial, sans-serif;">

<div>
    <table width="100%">
        <tr>
            <td><a href='{{ .ExternalURL }}'>View in Alert Manager</a></td>
        </tr>
    </table>
</div>
{{ if eq .Status "firing" }}
<h2 style="color: #d32f2f;">Alerts Firing</h2>
<table style="border-collapse: collapse; width: 100%;">
    <thead>
    <tr style="background-color: #f5f5f5;">
        <th>Alert</th>
        <th>Instance</th>
        <th>Summary</th>
        <th>Description</th>
        <th>Status</th>
        <th>Source</th>
    </tr>
    </thead>

    <tbody>
    {{ range .Alerts }}
    <tr>
        <td>
            {{ .Labels.alertname }}
        </td>

        <td>
            {{ .Labels.instance }}
        </td>

        <td>
            {{ .Annotations.summary }}
        </td>

        <td>
            {{ .Annotations.description }}
        </td>

        <td>
            {{ .Status }}
        </td>
        <td>
            <a href="{{ .GeneratorURL }}">
                View in Prometheus
        </td>
    </tr>

    </tbody>
    {{ end }}
</table>


{{ else }}
<h2 style="color: #388e3c;">Alerts Resolved</h2>
<table style="border-collapse: collapse; width: 100%;">
    <thead>
    <tr style="background-color: #f5f5f5;">
        <th>Alert</th>
        <th>Instance</th>
        <th>Status</th>
        <th>Source</th>
    </tr>
    </thead>

    <tbody>
    {{ range .Alerts }}
    <tr>
        <td>
            {{ .Labels.alertname }}
        </td>

        <td>
            {{ .Labels.instance }}
        </td>

        <td>
            {{ .Status }}
        </td>
        <td>
            <a href="{{ .GeneratorURL }}">
                View in Prometheus
        </td>
    </tr>


    </tbody>
    {{ end }}
</table>

{{ end }}
</body>

</html>
{{ end }}